<!DOCTYPE html>
<html>
<head>
<title>Bakery</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

  <h1>The Bakery</h1>

  <form method="POST" action="/butter">
    <button>Butter</button> <%= butter %>
  </form>

  <form method="POST" action="/almond">
    <button>Almond</button> <%= almond %>
  </form>

  <form method="POST" action="/oatmeal">
    <button>Oatmeal</button> <%= oatmeal %>
  </form>


  <form method="POST" action="/feel-guilty">
    <button>Feel Guilty</button>
  </form>

</body>
</html>
